{
    margin: 0;
}

header, footer {
    margin: 0;
    padding: 25px;
    background-color: rgb(211, 39, 16);
    color: white;
    text-align: center;
}

ul {
    padding: 25px;
}

.food_group {
    text-transform: uppercase;
    padding: 10px 0;
    color: rgb(14, 14, 15);
    font-weight: bold;
    font-size: 24px;
}

ol {
    display: flex;
    justify-content: space-evenly;
}

figure {
    width: 350px;
    padding: 15px 0 ;
}

.aliment_container img{
    width: 50%;
}

.aliment {
    text-align: center;
    list-style-position: inside;
}

a {
    text-decoration: none;
    font-size: 18px;
    /* padding: 10px; */
}

a:hover {
    text-decoration: underline;
}